*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}
.resize-heading{
    width: 100%;
    max-width: 540px;
    background: #596070;
    margin: 80px auto 20px;
    padding: 70px 20px 70px;
    border-radius: 10px;
}
.heading_1 {
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80px; /* Optional: Set a height to see vertical centering */
}

.upload-section{
    margin-top: 20px;
    text-align: center;
}
label{
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
.upload-section img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}
#imageUpload {
    display: none;
}
#imageUpload:hover {
    background-color: #4e085f;
}